:root{
  --bg: white;
  --accent: #F1011C;
  --text: white;
  --text1: black;
}

/* @font-face {
  font-family: 'Satoshi';
  src: url('%PUBLIC_URL%/fonts/Satoshi-Black.woff2') format('woff2'),
       url('%PUBLIC_URL%/fonts/Satoshi-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */